/*

Digitpaint HTML5 Adventscalendar 2011.

                 ,----.    _,.----.      ,----.         ___                  ,----.                ,-----.--.--, .-.--, ,--.--------. ,--.-,,-,--,
  _,..---._   ,-.--` , \ .' .' -   \  ,-.--` , \ .-._ .'=.'\    _..---.   ,-.--` , \  .-.,.---.   /` ` - /==/  |=| -\==Y==/,  -   , -Y==/  /|=|  |
/==/,   -  \ |==|-  _.-`/==/  ,  ,-' |==|-  _.-`/==/ \|==|  | .' .'.-. \ |==|-  _.-` /==/  `   \  `-'-. -|==|  `-' _|==\==\.-.  - ,-./==|_ ||=|, |
|==|   _   _\|==|   `.-.|==|-   |  . |==|   `.-.|==|,|  / - |/==/- '=' / |==|   `.-.|==|-, .=., |     | `|==\     , |==|`--`\==\- \  |==| ,|/=| _|
|==|  .=.   /==/_ ,    /|==|_   `-' Y==/_ ,    /|==|  \/  , ||==|-,   ' /==/_ ,    /|==|   '='  /     | -|==|`--.  -|==|     \==\_ \ |==|- `-' _ |
|==|,|   | -|==|    .-' |==|   _  , |==|    .-' |==|- ,   _ ||==|  .=. \|==|    .-' |==|- ,   .'      | `|==|    \_ |==|     |==|- | |==|  _     |
|==|  '='   /==|_  ,`-._\==\.       /==|_  ,`-._|==| _ /\   |/==/- '=' ,|==|_  ,`-._|==|_  . ,'.    .-','|==|    |  \==\     |==|, | |==|   .-. ,\
|==|-,   _`//==/ ,     / `-.`.___.-'/==/ ,     //==/  / / , /==|   -   //==/ ,     //==/  /\ ,  )  /     \==\     \ /==/     /==/ -/ /==/, //=/  |
`-.`.____.' `--`-----``             `--`-----`` `--`./  `--``-._`.___,' `--`-----`` `--`-`--`--'   `-----`---`     `--`      `--`--` `--`-' `-`--`

Copyright 2011 by Digitpaint. This code is licensed under the MIT License.

*/

/* ============ */
/* = Plumbing = */
/* ============ */

/* white-space-nowrap doesn't work that well with display: table */
.examples .row{
  display: block;
}
              
.examples figure.example{
  display: block;
  width: 100% !important;                      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;     
}
              
.controls{
  margin-top: 0.5em
}

/* ================ */
/* = Real Marquee = */
/* ================ */
              
.examples .wrapper{
  border: 1px solid #000;
  padding: 10px;    
  overflow: hidden;            
}
            
.marquee{
  max-height: 50px;                
  width: 100%;
  position: relative;
  overflow: hidden;
  white-space: nowrap;                
                
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.marquee.real {
  overflow-x: -webkit-marquee;
  -webkit-marquee-direction: left;
  -webkit-marquee-increment: small;
  -webkit-marquee-repetition: infinite;
  -webkit-marquee-speed: fast;
  -webkit-marquee-style: alternate;
}


/* ================ */
/* = Fake Marquee = */
/* ================ */

/* We need this to float so the dimension will be exactly that of the contents. */
.marquee.fake{
  overflow: hidden;
  position: relative;
  float: left;
}
                    
/* The sliding span */
.marquee.fake span{
  word-wrap: nowrap;                
  display: inline-block;
  position: relative;
  left: -100%;
                
  -moz-animation-name: marquee;
  -webkit-animation-name: marquee;              

  /* Set the duration, s = seconds */
  -moz-animation-duration: 15s;
  -webkit-animation-duration: 15s;      
  
  /* How many times the animation to repeat */
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;                        

  /* Several options available, use linear for this example */
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;     
}
              
/* Stop the marquee on :hover */
.marquee.fake:hover span{
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
}              
            
@-webkit-keyframes marquee{
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
              
@-moz-keyframes marquee{
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
