pre {
	font-size: 11pt; 
	line-height:1.4em;
	overflow:auto;
	background: #f0f0f0 url(/css/Code_BG.gif) left top repeat-y;
	border: 1px solid #ccc;
	margin-left:10px;
	margin-top:5px;
	padding: 5px 10px 10px 21px;
	width: 94%;
}

pre code {
	display: block;
	font-size:11pt; 
	line-height:1.4em;
	overflow:auto;
	color: black;
	background: bisque;
	border:0px solid #CC3300;
	margin-left:0px;
	margin-top:0px;
	margin-bottom:5px;
	padding: 5px 0px 0px 0px;
	width: 99%;
}
code {
	display: block;
	font-size:11pt; 
	line-height:1.4em;
	overflow:auto;
	color: black;
	background: bisque;
	border:1px solid #CC3300;
	margin-left:10px;
	margin-top:5px;
	padding: 5px 10px 10px 10px;
	width: 99%;
}

.cmd {
	display: block;
	white-space: pre ;
	font-size: 11pt;
	font-family: Consolas,monospace;
	line-height: 1.4em;
	overflow: auto;
	color: black;
	background: #f0f0f0 url(/css/Code_BG.gif) left top repeat-y;
	border: 1px solid #ccc;
	margin-left: 10px;
	margin-top: 5px;
	padding: 5px 5px 5px 20px;
	width: 94%;
}

.out {
	display: inline-block;
	white-space: pre ;
    font-size: 11pt; 
	line-height: 1.4em;
	overflow: auto;
	color: black;
	background: bisque;
	border: 0px solid #CC3300;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
	padding: 5px 0px 0px 2px;
	width: 99%;
  }
